In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('EDA_GOLD_SILVER_prices.csv')

In [3]:
df.head()

    Month  SilverPrice  GoldPrice
0  Mar-97       186.48   12619.24
1  Apr-97       170.65   12338.59
2  May-97       170.44   12314.94
3  Jun-97       169.96   12202.78
4  Jul-97       155.80   11582.07

In [4]:
round(df.corr().loc['SilverPrice', 'GoldPrice'],2)

C:\Users\raghu\AppData\Local\Temp\ipykernel_15420\1123802744.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  round(df.corr().loc['SilverPrice', 'GoldPrice'],2)

0.95

In [5]:
df.Month.dtype

dtype('O')

In [15]:
df['Year'] = pd.to_datetime(df['Month'], format='%b-%y').dt.year

In [16]:
df.head()

    Month  SilverPrice  GoldPrice  Year
0  Mar-97       186.48   12619.24  1997
1  Apr-97       170.65   12338.59  1997
2  May-97       170.44   12314.94  1997
3  Jun-97       169.96   12202.78  1997
4  Jul-97       155.80   11582.07  1997

In [19]:
val = df[df['Year'] == 2008].corr()['SilverPrice']['GoldPrice']
round(val,2)

C:\Users\raghu\AppData\Local\Temp\ipykernel_18884\3489536184.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  val = df[df['Year'] == 2008].corr()['SilverPrice']['GoldPrice']

0.01

In [20]:
df.groupby('Year')[['SilverPrice', 'GoldPrice']].corr().iloc[0::2,-1].reset_index(level=0, drop=True)

SilverPrice   -0.300294
SilverPrice   -0.636606
SilverPrice    0.269561
SilverPrice    0.458854
SilverPrice   -0.097849
SilverPrice    0.426923
SilverPrice    0.863672
SilverPrice    0.697647
SilverPrice    0.956490
SilverPrice    0.857197
SilverPrice    0.521385
SilverPrice    0.009584
SilverPrice    0.909367
SilverPrice    0.888551
SilverPrice    0.392636
SilverPrice    0.695103
SilverPrice    0.950427
SilverPrice    0.908186
SilverPrice    0.951250
SilverPrice    0.887940
SilverPrice    0.977475
Name: GoldPrice, dtype: float64