In [1]:
import numpy as np
import pandas as pd

In [2]:
census_df = pd.read_excel('census+data.xlsx')

In [3]:
census_df.head()

,Name,Scode,Dcode,Area Name,Rural Urban,Age group,Toatal Persons,Total Males,Total Females,Illiterate Persons,Illiterate Males,Illiterate Females,Literate Persons,Literate Males,Literate Females
0,C2308,0,0,INDIA,Total,All ages,1210854977,623270258,587584719,447216165,188506636,258709529,763638812,434763622,328875190
1,C2308,0,0,INDIA,Total,0-6,164515253,85752254,78762999,164515253,85752254,78762999,0,0,0
2,C2308,0,0,INDIA,Total,7,24826640,12903364,11923276,6748214,3388683,3359531,18078426,9514681,8563745
3,C2308,0,0,INDIA,Total,8,26968373,14061937,12906436,4131414,2013742,2117672,22836959,12048195,10788764
4,C2308,0,0,INDIA,Total,9,23424638,12214985,11209653,2491904,1198339,1293565,20932734,11016646,9916088

In [4]:
sum_total_person = census_df.loc[census_df['Age group'] == "All ages", 'Toatal Persons'][0]
sum_total_person

1210854977

In [5]:
illiterate_persons_all_ages =  census_df.loc[census_df['Age group'] == "All ages", 'Illiterate Persons'][0]
illiterate_persons_all_ages

447216165

In [6]:
literate_persons_all_ages =  census_df.loc[census_df['Age group'] == "All ages", 'Literate Persons'][0]
literate_persons_all_ages

763638812

In [7]:
census_df['Age group'].dtype
sum_0_6 = census_df.loc[census_df['Age group'] == "0-6", 'Toatal Persons'].iloc[0]
sum_0_6

164515253

In [8]:
sum_above_7 = sum_total_person - sum_0_6
sum_above_7

1046339724

In [9]:
illeterate_0_6 = census_df.loc[census_df['Age group'] == "0-6", 'Toatal Persons'].iloc[0]
illeterate_0_6

164515253

In [10]:
# if you see the table 0-6 for literate person is 0. so the total is the total above age 7
literate_above_7 = census_df['Literate Persons'][0]
literate_above_7

763638812

In [11]:
per =  literate_above_7 / sum_above_7
per

0.7298191920695921

In [16]:
illiterate_20_24 =  census_df.loc[census_df['Age group'] == "All ages", 'Illiterate Persons'].iloc[0]
illiterate_20_24

18679492

In [19]:
# Once you remove the unwanted rows from the data set, 
# take the ratio of the number of illiterate females to the number of total females, 
# i.e. 12212466/53839529 = 0.226
illiterate_Females_20_24 =  census_df.loc[census_df['Age group'] == "20-24", 'Illiterate Females'].iloc[0]
illiterate_Females_20_24

12212466

In [27]:
total_females_20_24 = census_df.loc[census_df['Age group'] == "20-24", 'Total Females'].iloc[0]
total_females_20_24

53839529

In [30]:
percent = illiterate_Females_20_24/total_females_20_24 * 100
round(percent)

23

Compare the literacy rates (i.e. the number of literates / total number of population) in each age group and choose the correct option.

People in the old age group (above 55+) are more literate than other groups

People in the young age group (below 30) are more literate than the old age group (above 55+)

The literacy rate increases for each age bucket from 7 years till 80+

In [40]:
# The young age group (under 30) 
# shows a literacy rate higher than 70% whereas the old age group (above 55+) shows a literacy rate below 40%.
def ratio(x):
    return x['Literate Persons'].sum() / x['Toatal Persons'].sum()

grouped_ratio = census_df.groupby("Age group").apply(ratio)
grouped_ratio[]
def ratio(x):
    return x['Literate Persons'].sum() / x['Toatal Persons'].sum()

Age group
7                 0.728187
8                 0.846805
9                 0.893620
10                0.886931
11                0.919628
12                0.914212
13                0.925436
14                0.916828
15                0.899613
16                0.897834
17                0.903926
18                0.866659
19                0.876376
0-6               0.000000
20-24             0.832357
25-29             0.776811
30-34             0.725384
35-39             0.672740
40-44             0.629934
45-49             0.597586
50-54             0.575657
55-59             0.548305
60-64             0.469265
65-69             0.439440
70-74             0.397745
75-79             0.419313
80+               0.389632
Age not stated    0.645594
All ages          0.630661
dtype: float64

Which state shows the highest female literacy rate?
1. Madhya Pradesh
2. Kerala
3. Goa
4. Rajasthan

Kerala is at the top of the list of female literacy rates across the states. The female literacy rate of this state was 0.83 in 2011.

In [46]:
def literate_female_sum(x):
    return x['Literate Females'].sum() / x['Total Females'].sum()


grouped_by_state = census_df.groupby("Area Name").apply(literate_female_sum)
grouped_by_state

Area Name
INDIA                                0.559707
State - ANDAMAN & NICOBAR ISLANDS    0.730989
State - ANDHRA PRADESH               0.529337
State - ARUNACHAL PRADESH            0.486906
State - ASSAM                        0.563950
State - BIHAR                        0.419430
State - CHANDIGARH                   0.716304
State - CHHATTISGARH                 0.516982
State - DADRA & NAGAR HAVELI         0.538243
State - DAMAN & DIU                  0.686022
State - GOA                          0.764054
State - GUJARAT                      0.608616
State - HARYANA                      0.573929
State - HIMACHAL PRADESH             0.676125
State - JAMMU & KASHMIR              0.474959
State - JHARKHAND                    0.463671
State - KARNATAKA                    0.602047
State - KERALA                       0.830382
State - LAKSHADWEEP                  0.782456
State - MADHYA PRADESH               0.504843
State - MAHARASHTRA                  0.670531
State - MANIPUR                      0.612908
State - MEGHALAYA                    0.590571
State - MIZORAM                      0.755990
State - NAGALAND                     0.648399
State - NCT OF DELHI                 0.710574
State - ODISHA                       0.561259
State - PUDUCHERRY                   0.723797
State - PUNJAB                       0.631194
State - RAJASTHAN                    0.442061
State - SIKKIM                       0.673664
State - TAMIL NADU                   0.660862
State - TRIPURA                      0.724304
State - UTTAR PRADESH                0.484231
State - UTTARAKHAND                  0.609727
State - WEST BENGAL                  0.623371
dtype: float64

Across all the states, which state shows the lowest literacy rate in 2011 (total population)?
1. Madhya Pradesh
2. Himachal Pradesh
3. Bihar
4. Rajasthan

In [48]:
def literate(x):
    return x['Literate Persons'].sum() / x['Toatal Persons'].sum()


grouped_by_state_literacy = census_df.groupby("Area Name").apply(literate)
grouped_by_state_literacy.sort_values()

Area Name
State - BIHAR                        0.504369
State - ARUNACHAL PRADESH            0.553581
State - JHARKHAND                    0.555596
State - RAJASTHAN                    0.558368
State - JAMMU & KASHMIR              0.563517
State - UTTAR PRADESH                0.572525
State - MADHYA PRADESH               0.590019
State - ANDHRA PRADESH               0.597733
State - MEGHALAYA                    0.601642
State - CHHATTISGARH                 0.602067
State - ASSAM                        0.614569
INDIA                                0.630661
State - ODISHA                       0.637120
State - DADRA & NAGAR HAVELI         0.649474
State - HARYANA                      0.654755
State - KARNATAKA                    0.665310
State - MANIPUR                      0.668282
State - WEST BENGAL                  0.674199
State - PUNJAB                       0.674293
State - NAGALAND                     0.678510
State - GUJARAT                      0.679907
State - UTTARAKHAND                  0.682208
State - TAMIL NADU                   0.718498
State - MAHARASHTRA                  0.725738
State - SIKKIM                       0.728740
State - HIMACHAL PRADESH             0.734163
State - NCT OF DELHI                 0.758745
State - CHANDIGARH                   0.763123
State - TRIPURA                      0.763431
State - PUDUCHERRY                   0.767103
State - MIZORAM                      0.773032
State - ANDAMAN & NICOBAR ISLANDS    0.773241
State - DAMAN & DIU                  0.774546
State - GOA                          0.799075
State - LAKSHADWEEP                  0.815116
State - KERALA                       0.842237
dtype: float64